# files related to npm & project
node_modules
package-lock.json

# ignore environments
.env
.env.local

# ignore vercel dir | created if project linked & diployed to vercel
.vercel

#ignore production directory
dist