name: Code Quality

on: pull_request

jobs:
  quality:
    name: Checking code quality
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Setup Biome with reviewdog
        uses: mongolyy/reviewdog-action-biome@v2.5.0
        with:
          github_token: ${{ secrets.github_token }}
          biome_flags: --changed --no-errors-on-unmatched --since=origin/${{ github.base_ref }}
