name: Code Quality

on: pull_request

jobs:
  quality:
    name: Checking code quality
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: 2.3.6

      - name: Run Biome
        run: biome ci --changed --no-errors-on-unmatched --since=origin/${{ github.base_ref }}
